<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ShipInformationDao">
	<insert id="save" parameterType="ShipInformation">
		insert into
		ship_information(shipName,shipPhoneNum,shipSite,defaults)
		values(#{shipName},#{shipPhoneNum},#{shipSite},#{defaults})
	</insert>
	<select id="listAll" resultType="ShipInformation">
		select * from ship_information
	</select>
	<select id="getById" parameterType="int" resultType="ShipInformation">
		select *
		from
		ship_information where shipId=#{value}
	</select>
	<delete id="delete" parameterType="int">
		delete from ship_information
		where shipId=#{value}
	</delete>
	<update id="update" parameterType="ShipInformation">
		update ship_information set
		shipName=#{shipName},shipPhoneNum=#{shipPhoneNum},shipSite=#{shipSite},defaults=#{defaults}
		where shipId=#{shipId}
	</update>
	<update id="updateByShipId" parameterType="int">
		update ship_information set
		defaults=0 where shipId!=#{value}
	</update>
</mapper>