<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  <mapper namespace="com.mapper.Shop_MemberMapper">
  <select id="listAll" resultType="Shop_Member" parameterType="java.util.Map">
  select * from shop_member
  <where>
  <if test="name!=null">
  and member_username like '%${name}%'
  </if>
  </where>
  </select>
  
  <delete id="delete" parameterType="int">
  delete from shop_member where member_id=#{member_id}
  </delete>
  
  <insert id="save" parameterType="Shop_Member">
  insert into Shop_Member (member_username,member_pwd,member_email,member_birth,member_phone,member_truename,member_sex,member_image,member_birthday)
  values (#{member_username},#{member_pwd},#{member_email},#{member_birth},#{member_phone},#{member_truename},#{member_sex},#{member_image},#{member_birthday})
  </insert>
  
  <update id="update" parameterType="Shop_Member">
  update Shop_Member set member_username=#{member_username},member_pwd=#{member_pwd},member_email=#{member_email},member_birth=#{member_birth},
  member_phone=#{member_phone},member_truename=#{member_truename},member_sex=#{member_sex},member_image=#{member_image},member_birthday=#{member_birthday} where member_id=#{member_id} 
  </update>
  
  <select id="getById" resultType="Shop_Member" parameterType="int">
  select * from Shop_Member where member_id=#{value}
  </select>
  </mapper>